@charset "utf-8";

html {
  height: 100%;
}

* html #pageblock {
  height: 100%;
}

#pageblock {
  position: relative;
  min-height: 100%;
}

body {
  font-family: sans-serif;
  background-color: rgb(200,215,255);
  color: rgb(20,20,40);
  font-size: 100%;
  height: 100%;
  margin: 0px;
}

#header {
  background: rgba(0,0,0,0);
  height: 140px;
  position: relative;
  z-index: 1;
}

#header_text {
  height: 0px;
  position: relative;
  top: -130px;
  z-index: -1;
  font-size: 7em;
  font-weight: bold;
  text-align: center;
}

#nav {
  position: relative;
  text-align: center;
}

.navitem {
  position: relative;
  z-index: 2;
  top: -2px;
  padding: 6px 10px 2px 10px;
  /*background-color: rgb(10,10,10);*/
  border-top: rgb(200,200,200) 1px solid;
  border-left: rgb(200,200,200) 1px solid;
  border-right: rgb(200,200,200) 1px solid;
  /*border-radius: 10px 10px 0 0;*/
}

.navitem0 {
  
}

.navitem1 {
  border-top: rgb(200,50,255) 1px solid;
  border-left: rgb(200,50,255) 1px solid;
  border-right: rgb(200,50,255) 1px solid;
}

.navitem:hover {
  top: -6px;
  color: rgb(200,50,255);
}

#content {
  position: relative;
  z-index: 3;
  /*background-color: rgb(10,10,10);*/
  border-top: rgb(200,200,200) 1px solid;
  margin: 5px;
  padding: 50px;
  padding-bottom: 120px;
}

#footer {
  position: relative;
  margin-top: -50px;
  height: 30px;
  border-top: rgb(200,200,200) 1px solid;
  margin-left: 5px;
  margin-right: 5px;
  z-index: 4;
  text-align: center;
  font-size: 0.8em;
  padding-top: 12px;
}

a:link, a:visited {
  color: rgb(200,50,255);
  text-decoration: none;
}

a:active, a:focus, a:hover {
  color: rgb(255,255,255);
  text-decoration: none;
}